extends layout

block content
  #single-column(style="overflow-y: auto; height: 100vh; padding: 8vw 0;")
    div(style="position: relative; margin: auto; width: 32.625vw; min-width: 400px;")
      .section
        h5 TRK
        h2 About

      .section
        p
          | This project analyzes the labor and economic politics of the online gig economy. Within this enormous international industry, we’ve chosen to focus on CrowdFlower and Mechanical Turk and the relationships between their compensation structure for gig workers and the clients who seek their services – such as research labs, nonprofits, for profit companies, start ups, individuals or artists. Gig laborers are contracted for a wide variety of tasks so for simplicity’s sake, this open source project covers one of the most popular applications of gig work: labeling and training data sets and AI models.

        p
          | Within this framing, we ask:
          span(style='font-style:italic;') “Is it possible to advocate for workers rights, and produce ‘Technically Responsible Knowledge’?”

        p
          | For workers, online gig work is presented as a democratising method for earning supplemental income from anywhere in the world. For clients, it offers unprecedented access to a global labor workforce. But nearly fifteen years after the launch of Mechanical Turk, the entire machine learning industry pipeline remains deeply controversial. Underpayment, job insecurity, and exposure to harmful material are all common experiences endured by this precarious workforce and these platforms are slow to respond to issues – if they do at all.

        p
          span(style='font-style:italic;') Technically Responsible Knowledge (aka TRK)
          | is an open source alternative tool for data training and data labeling and offers a wage calculator creators can better price their tasks for their labelers. If the machine learning pipeline is a death by a thousand cuts, think of TRK as one band aid for one small cut. It focuses on how, through pricing structures, platform incentives and the invisible nature of gig work, clients underprice, undervalue and fundamentally misunderstand how tasks are handled in
          a(href='http://crowdsourcing-class.org/readings/downloads/ethics/turkopticon.pdf')
            | ‘human as a service’ 
          | platforms. This has a direct effect on the workers who fulfil tasks. Human laborers in Mechanical Turk style platforms must operate  within systems that commodise them, leaving them underpaid and poorly treated. This project attempts to shed light on how payment interfaces can function to benefit the worker. Wage inequality in big technology is a major issue, one that cannot be solved by a project, and we are highlighting wage inequality in humans as a service platforms.

        p
          | This project is indebted to Mechanical Turkers and CrowdFlower laborers as well as Professor Lilly Irani and Kristy Milliband for their work, research, and invaluable time spent answering our questions. 

        p
          | This project was conceived by Caroline Sinders during her Mozilla Foundation fellowship, and was created by the following: 

        p
          | Caroline Sinders: founder and project lead, artist, researcher and co-author
          br
          | Cade Diehm: creative direction, researcher and co-author
          br
          | Ian Ardouin-Fumat: developer
          br
          | Rainbow Unicorn: design and branding
          br
          | Edward Anthony: essay editor
          br
          | With a special thanks to Anna Ridler, Kacie Harold and Kaustubh Srikanth for feedback.



        