extends layout

block content

  #about.half-column
    h5 TRK
    h2 Data Protection

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec metus metus, malesuada at aliquet quis, auctor quis est. Ut pellentesque bibendum sem id ultricies. Donec hendrerit tincidunt dui, sit amet ullamcorper nulla vulputate ac. Sed sagittis vel urna et maximus. Curabitur sed sodales odio, a lobortis lorem. Ut at sagittis ante, at rhoncus orci. Nullam pharetra eros nec nunc porttitor bibendum.
